#header {
  min-height: 400px;
  background-image: url("D:/shobuj/src/image/Homepage-w.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 2em;
}

.btn {
  border: 1.5px solid;
  font-weight: 500;
}


.btn:hover {
  color: aliceblue;
}
