#footer__img {
  margin-top: 5rem !important;
}
.img-fluid {
  max-width: 70%;
}

#footer__menu {
  min-height: 300px;
  padding: 20px 0;
  background-color: #2f2f2f;
  text-decoration: none;
}

a.nav-item:hover li {
  margin-left: -0.5rem;
  transition: all 0.5s ease;
  color: orangered !important;
}
#footer__menu.li {
  padding: 0 !important;
}
#footer-social-icons {
  margin-left: 1rem;
  margin-top: 1rem;
}
