.dropdown-menu {
  width: 20%;
  height: 200px;
  position: fixed;
  top: 80;
  left: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: all 0.5s ease-in-out;
}

.slideUp {
  top: -500px;
}
