section {
  width: 100%;
  min-height: 300px;
}

.component__img {
  width: 65%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: scale(120%);
}

section:hover .component__img {
  transform: scale(125%);
}

@media screen and (max-width: 768px) {
  .flex__container {
    flex-direction: column;
  }
  #flex__item__1,
  #flex__item__2 {
    margin: inherit;
    text-align: center;
  }
}
